<h1 class="text-center">Liste des produits</h1>

<p-button
  label="Créer produit"
  (onClick)="onCreate()"
  class="block text-center"
/>

<p-dataView #dv [value]="products()" [rows]="5" [paginator]="true">
  <ng-template pTemplate="list" let-products>
    <div class="grid grid-nogutter">
      @for (product of products; track product) {
      <div class="col-12" class="col-12">
        <div
          class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3"
          [class]="{ 'border-top-1 surface-border': !$first }"
        >
          <div class="md:w-10rem relative">
            <img
              class="block xl:block mx-auto border-round w-full"
              [src]="
                'https://primefaces.org/cdn/primeng/images/demo/product/' +
                product.image
              "
              [alt]="product.name"
            />
            <p-tag
              [value]="product.inventoryStatus"
              [severity]="getSeverity(product)"
              class="absolute"
              [style.left.px]="4"
              [style.top.px]="4"
            />
          </div>
          <div
            class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4"
          >
            <div
              class="flex flex-row md:flex-column justify-content-between align-items-start gap-2"
            >
              <div>
                <span class="font-medium text-secondary text-sm">{{
                  product.category
                }}</span>
                <div class="text-lg font-medium text-900 mt-2">
                  {{ product.name }}
                </div>
              </div>
              <div class="surface-100 p-1" style="border-radius: 30px">
                <div
                  class="surface-0 flex align-items-center gap-2 justify-content-center py-1 px-2"
                  style="
                    border-radius: 30px;
                    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.04),
                      0px 1px 2px 0px rgba(0, 0, 0, 0.06);
                  "
                >
                  <span class="text-900 font-medium text-sm">{{
                    product.rating
                  }}</span>
                  <i class="pi pi-star-fill text-yellow-500"></i>
                </div>
              </div>
            </div>
            <div class="flex flex-column md:align-items-end gap-5">
              <span class="text-xl font-semibold text-900"
                >{{ product.price }}€</span
              >
              <div class="flex flex-row-reverse md:flex-row gap-2">
                <p-button
                  icon="pi pi-pencil"
                  class="flex-auto md:flex-initial white-space-nowrap"
                  label="Modifier"
                  severity="secondary"
                  (onClick)="onUpdate(product)"
                />
                <p-button
                  icon="pi pi-times"
                  [outlined]="true"
                  label="Supprimer"
                  severity="danger"
                  (onClick)="onDelete(product)"
                />
                <p-button
                  icon="pi pi-shopping-cart"
                  class="flex-auto md:flex-initial white-space-nowrap"
                  label="{{ isInCart(product.id) ? 'Supprimer du panier': 'Ajouter au panier'}}"
                  severity="primary"
                  (onClick)="onToggleCart(product)"
                  [outlined]="isInCart(product.id)"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </ng-template>
</p-dataView>

<p-dialog
  [(visible)]="isDialogVisible"
  [style]="{ width: '50vw' }"
  header="Ajout/Edition produit"
>
  <app-product-form
    [product]="editedProduct()"
    (save)="onSave($event)"
    (cancel)="onCancel()"
  />
</p-dialog>
